*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

#logo{
    margin:auto;
    float:right;
}
#title{
    color: black;
    align-content: left;
    font-size:35px;
    float: left; 
    padding-block: 15px;
}

.header{
    width: 100%; 
    height: 10vh;
    padding: 0 10%;
    background: #f5f5f5;;
    margin: 0;
    border-bottom: solid black 1px;
}

#log-header{
    width: 49.5%;
    margin: 3px;
    display: flex;
    float: left;
    background: #f5f5f5;
    border-radius:2px;
    color: black;
    font-size:20px;
    padding: 7px;
}

#calendar-header{
    width: 49.5%;
    margin:3px;
    display: flex;
    float: right;
    background: #f5f5f5;
    border-radius:2px;
    color: black;
    font-size:20px;
    padding: 7px;
}


#log-wrapper{
    width:49%;
    font-size:large;
    margin:3px;
    margin-left:7px;
    float:left;
    border: inset;
    border-radius:2px;
    padding: 10px 15px;
}

#calendar-wrapper{
    width:49%;
    height: 324px;
    margin:3px;
    margin-right:7px;
    float:right;    
    border: inset;
    padding: 10px 15px;
}

#calendar {
    width: 100%;
    height: 100%;
    font-size:larger;
    margin: auto;
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    grid-template-rows: 20% 20% 20% 20% 20% 0%;
    margin-bottom: 3em;
}
.calendar-item{
    border: solid 0.5px;
    padding: 10px 10px;
}

.calendar-item:hover {
    border:inset;
}

.inbox{
    float:right;
}

#buttons-wrapper{
    width:49%;
    font-size:large;
    margin:3px;
    margin-left:7px;
    float:left;
    border: inset;
    border-radius:2px;
    padding: 10px 15px;
}

#invoice-button{
    float:left;
    width: 49%;
    margin: 3px;
}

#ea-button{
    float:right;
    width: 49%;
    margin: 3px;
}

#history-wrapper{
    width:49%;
    font-size:large;
    margin:3px;
    margin-right:7px;
    float:right;
    border: inset;
    border-radius:2px;
    padding: 10px 15px;
}

#history-button{
    width: 100%;
    height: 32px;
}

.buttons{
    display:inline-block;
    padding: 0.3em 1.5em;
    border: 1px solid black;
    border-radius:2px;
}

.buttons:hover{
    background-color: rgb(216, 216, 216);
}

.buttons:active{
    background-color: rgb(92, 92, 92);
}