*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#calendar {
    width: 350px;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    margin-bottom: 3em;
}

.calendar-item {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: burlywood;
    text-transform: uppercase;
    font-weight: bold;

    /* The following will align the letters to the center of each square */
    /* See this useful guide: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    background-color: rgb(28, 22, 22);
    color: white;
    border: 5px solid rgb(28, 22, 22);
}